{% extends 'base.html.twig' %}

{% block title %}Intranet GSB
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fiche.css">
{% endblock %}

{% block body %}

    {% include "layouts/pageindic.html.twig" with {'page_indic':'Fiche'} %}

    <div class="fiche-div">
        <h2>Fiche du {{ fiche.month }}/{{ fiche.year }}</h2>

        {% if fiche.idEtat.id == 1 %}
        <h3 style="background-color: yellow; border-radius: 25%; padding: 5px 0px; text-align: center">Fiche en cours de saisie</h3>
        {% elseif fiche.idEtat.id == 2 %}
        <h3 style="background-color: orange; border-radius: 25%; padding: 5px 0px; text-align: center">Saisie cloturée</h3>
        {% elseif fiche.idEtat.id == 3 %}
        <h3 style="background-color: greenyellow; border-radius: 25%; padding: 5px 0px; text-align: center">Validée en cours de paiement</h3>
        {% elseif fiche.idEtat.id == 4 %}
        <h3 style="background-color: green; border-radius: 25%; padding: 5px 0px; text-align: center">Remboursée.</h3>
        {% endif %}

        <h3>frais forfaits</h3>
        <table style="width:100%">
            <tr>
                <th>Nom du frais</th>
                <th>Quantitée</th>
            </tr>

            {% for frais in fraisForfaits %}
                <tr>
                    <td>{{ frais.libelle }}</td>
                    <td>{{ frais.quantity }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>frais hors forfaits</h3>
        <table style="width:100%">
            <tr>
                <th>Nom du frais</th>
                <th>Prix unitaire</th>
                <th>Quantitée</th>
            </tr>
            {% for frais in fraisHorsForfaits %}
                <tr>
                    <td>{{ frais.libelle }}</td>
                    <td>{{ frais.price }}€</td>
                    <td>{{ frais.quantity }}</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <form class="addfrais-form" method="post" action="{{ path('addfrais') }}">
            <h3>Nouveau frais</h3>
            <div>
                <label for="type-frais">Type de frais</label>
                <select name="type-frais" id="type-frais">
                    <option value="forfait">Forfait</option>
                    <option value="horsforfait">Hors forfait</option>
                </select>
            </div>

            <div class="en-forfait">
                <label for="frais-select" >Frais forfait</label>
                <select name="frais-select" id="frais-select">
                    <option value="1">Etape</option>
                    <option value="2">Kilométrique</option>
                    <option value="3">Nuitée Hôtel</option>
                    <option value="4">Repas Restaurant</option>
                </select>
            </div>

            <input type="text" class="hors-forfait" id="nom-frais" name="nom-frais" placeholder="Libelle du frais">

            <input type="text" class="hors-forfait" id="prix-frais" name="prix-frais" placeholder="Prix du frais">
            <input type="text" id="quantite-frais" name="quantite-frais" placeholder="Quantité">

            <button type="submit" class="addfrais-button">Ajouter</button>

        </form>


    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/fiche.js') }}"></script>
{% endblock %}