{% extends 'base.html.twig' %}

{% block title %}Intranet GSB
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fiche.css">
{% endblock %}

{% block body %}

    {% include "layouts/pageindic.html.twig" with {'page_indic':'Validation de fiche'} %}

    {# CONTENU EN CAS DE FICHE NON CHOISIE #}
    {% if ficheChoisie is not null %}
        <h2>Fiche du {{ ficheChoisie.month }}/{{ ficheChoisie.year }} de {{ visiteurUsername }}</h2>

        {% if ficheChoisie.idEtat.id == 1 %}
            <h3 style="background-color: yellow; border-radius: 25%; padding: 5px 0px; text-align: center">Fiche en
                cours de saisie</h3>
        {% elseif ficheChoisie.idEtat.id == 2 %}
            <h3 style="background-color: orange; border-radius: 25%; padding: 5px 0px; text-align: center">Saisie
                cloturée</h3>
        {% elseif ficheChoisie.idEtat.id == 3 %}
            <h3 style="background-color: greenyellow; border-radius: 25%; padding: 5px 0px; text-align: center">Validée
                en cours de paiement</h3>
        {% elseif ficheChoisie.idEtat.id == 4 %}
            <h3 style="background-color: green; border-radius: 25%; padding: 5px 0px; text-align: center">
                Remboursée.</h3>
        {% endif %}

        <h3>frais forfaits</h3>
        <div>
            <table style="width:100%">
                <tr>
                    <th>Nom du frais</th>
                    <th>Quantitée</th>
                </tr>

                {% for frais in fraisForfaits %}
                    <tr>
                        <td>{{ frais.libelle }}</td>
                        <td>{{ frais.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h3>frais hors forfaits</h3>
            <table style="width:100%">
                <tr>
                    <th>Nom du frais</th>
                    <th>Prix unitaire</th>
                    <th>Quantitée</th>
                </tr>
                {% for frais in fraisHorsForfaits %}
                    <tr>
                        <td>{{ frais.libelle }}</td>
                        <td>{{ frais.price }}€</td>
                        <td>{{ frais.quantity }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div>
        <button class="spoilertrigger-1">FAQ : Comment supprimer ou modifier un frais ?</button>
        </div>
        <div class="spoilercontent-1">
            <h3>Supprimer ou modifier un frais :</h3>
            <p>Pour modifier un frais (addition, soustraction ou suppression),
                la manipulation est la même : utilisez le formulaire pour ajouter
                la valeur de votre choix, pour soustraire la valeur passez une valeur
                négative, pour supprimer un frais : passez une valeur négative dans le
                champ quantité pour annuler le frais (0) </p>
        </div>

        <div id="popup-info">
        </div>

        <div>

            <br>

            {% if ficheChoisie.idEtat.id != 3 %}
                <a href="{{ path('change_etat_fiche', { etat: 'valide', id: ficheChoisie.id }) }}">
                    <button>Validée</button>
                </a>
            {% endif %}

            {% if ficheChoisie.idEtat.id != 4 %}
                <a href="{{ path('change_etat_fiche', { etat: 'rembourse', id: ficheChoisie.id }) }}" style="">
                    <button>Remboursée</button>
                </a>
            {% endif %}

            <br>

        </div>

        {# TODO rajouter la modification de la fiche pour le comptable #}
        {# TODO reprendre ici 1.2 #}

        <form class="addfrais-form" method="post" action="{{ path('addfrais_tospecific', { ficheid: ficheChoisie.id }) }}">
            <h3>Nouveau frais</h3>

            <input type="hidden" id="ficheid" name="ficheid" value="{{ ficheChoisie.id }}" />

            <div>
                <label for="type-frais">Type de frais</label>
                <select name="type-frais" id="type-frais">
                    <option value="forfait">Forfait</option>
                    <option value="horsforfait">Hors forfait</option>
                </select>
            </div>

            <div class="en-forfait">
                <label for="frais-select">Frais forfait</label>
                <select name="frais-select" id="frais-select">
                    <option value="1">Etape</option>
                    <option value="2">Kilométrique</option>
                    <option value="3">Nuitée Hôtel</option>
                    <option value="4">Repas Restaurant</option>
                </select>
            </div>

            <input type="text" class="hors-forfait" id="nom-frais" name="nom-frais" placeholder="Libelle du frais">

            <input type="text" class="hors-forfait" id="prix-frais" name="prix-frais" placeholder="Prix du frais">
            <input type="text" id="quantite-frais" name="quantite-frais" placeholder="Quantité">

            <button type="submit" class="addfrais-button">Ajouter</button>

        </form>

    {% else %}
        {# CONTENU EN CAS DE FICHE CHOISIE #}
        <form action="{{ path('validation_page') }}" method="get">
            <input type="number" name="moisChoice" placeholder="mois (ex: 11)"/>
            <input type="number" name="anneeChoice" placeholder="annee (ex: 2020)"/>
            <select name="visiteur" id="visiteur">
                {% for visiteur in visiteurs %}
                    <option value="{{ visiteur.getId() }}">{{ visiteur.getUsername() }}</option>
                {% endfor %}
            </select>
            <button type="submit">Valider</button>
        </form>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/fiche.js') }}"></script>
{% endblock %}